//Variables

$w-100: 100%;
$h-100: 100%;

$color_bg_botonera: rgba(221, 239, 254, 1);
$color_bg_body: rgb(240, 240, 240);
$color_h2: rgb(0, 194, 204);
$color_h3: rgb(0,74, 173);
$color_h4:rgb(0, 118, 203);
$color_gris_claro: rgba(200, 200, 200, 0.8);
$color_gris:rgb(80, 80, 80);
$color_negro: rgb(0, 0, 0);

$font_family_h2:'Noto Sans', sans-serif;
$font_family_h3:'Mukta', sans-serif;
$font_family_h4:'Mukta', sans-serif;
$font_family_p: 'Mukta', sans-serif;

$font_size_botonera: 1.3em;
$font_size_h2: 1.75em;
$font_size_h3: 1.5em;
$font_size_h4: 1.2em;
$font_size_p: 1em;

